<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap core CSS -->
    		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	    	<link href="/stylesheets/docs.min.css" rel="stylesheet">

	    	<!-- Custom styles for this template -->
	    	<link href="/stylesheets/signin.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">

	      <form class="form-signin" role="form" method="post">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="username" class = "form-control" placeholder="User Name" name='username' required autofocus>
	        <input type="password" class="form-control" placeholder="Password" name='passwd' required>
	        <label class="checkbox">
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>

    </div> <!-- /container -->
	</body>
</html>